@import "utils";
@import "fonts";
@import "typography";
@import "./reset.scss";
@import "./blocks/header.scss";
@import "./blocks/logo.scss";
@import "./blocks/nav.scss";
@import "./blocks/burger.scss";
@import "./blocks/intro.scss";

body {
  background: #2c4453;
  font-family: "Neutral Face", "Roboto", Helvetica, sans-serif;
  color: #fff;
}

button {
  border: none;
  font-family: "Neutral Face", "Roboto", Helvetica, sans-serif;
}
